[Match]
Type=wlan
WLANInterfaceType=station
SSID=*
Host={{ network_hostname_raw }}

[Link]
RequiredForOnline=routable

[Network]
DHCP=ipv4
IPv6AcceptRA=no
DNSDefaultRoute=no

[DHCPv4]
UseHostname=no
UseDomains=no
RouteMetric=600
