[Match]
Type=wlan
WLANInterfaceType=station
SSID=*

[Link]
RequiredForOnline=routable

[Network]
DHCP=ipv4
IPv6AcceptRA={{ 'yes' if network_ipv6_accept_ra | bool else 'no' }}
{% if network_ipv6_accept_ra | bool -%}
IPv6PrivacyExtensions={{ network_ipv6_privacy_extensions }}
{% endif -%}
DNSDefaultRoute={{ network_dns_default_route }}
DNSOverTLS={{ network_dns_over_tls }}
LLMNR={{ network_dns_llmnr }}

[DHCPv4]
UseDNS={{ network_dhcp_use_dns }}
UseHostname=no
UseDomains={{ network_dhcp_use_domains }}
RouteMetric=600
{% if network_ipv6_accept_ra | bool %}
[IPv6AcceptRA]
UseDNS={{ network_dhcp_use_dns }}
UseDomains={{ network_dhcp_use_domains }}

[DHCPv6]
UseDNS={{ network_dhcp_use_dns }}
UseDomains={{ network_dhcp_use_domains }}
{% endif %}
