[Match]
Kind=!*
Type=ether
Host={{ network_hostname_raw }}

[Link]
RequiredForOnline=routable

[Network]
DHCP=ipv4
IPv6AcceptRA=no
DNSDefaultRoute=yes

[DHCPv4]
UseHostname=no
UseDomains=no
RouteMetric=100
