[Match]
Kind=!*
Type=ether
Host={{ network_hostname_raw }}

[Link]
RequiredForOnline=routable

[Network]
DHCP=ipv4
IPv6AcceptRA=no
DNSDefaultRoute=yes

[DHCPv4]
UseDNS={{ network_dhcp_use_dns }}
UseHostname=no
UseDomains={{ network_dhcp_use_domains }}
RouteMetric=100
