# Managed by tekne.devops.network — local edits are overwritten
[Resolve]
{% if network_dns_servers | length > 0 %}
DNS={{ network_dns_servers | join(' ') }}
{% endif %}
{% if network_dns_fallback | length > 0 %}
FallbackDNS={{ network_dns_fallback | join(' ') }}
{% endif %}
{% if network_dns_search_domains | length > 0 %}
Domains={{ network_dns_search_domains | join(' ') }}
{% endif %}
DNSOverTLS={{ network_dns_over_tls }}
DNSSEC={{ network_dnssec }}
Cache={{ network_dns_cache }}
