[Desktop Entry]
Type=Application
Version=1.0
Name=OneDrive Monitor
Comment=Start OneDrive after XFCE desktop notifications are ready
Exec={{ bootstrap_home }}/bin/onedrive-desktop-start
OnlyShowIn=XFCE;
Terminal=false
StartupNotify=false
X-GNOME-Autostart-enabled=true
